<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../nav-list.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../photos/icon.svg" type="image/x-icon">
    <script src="../nav-list.js" defer></script>
    <script src="script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js" defer></script>
    <script src="../script.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>LOCKED UA</title>
</head>
<body>
    <header>
        <div class = "logo-container">
            <a href="../index.html"><img src="../photos/logo2.png" alt="logotype"></a>
            <h1 style="font-size: 17px;">квест-кімнати м. Запоріжжя</h1>
        </div>
    </header>

    <div class="hot-bar">
        <a href="../index.html"><img src="../photos/logo2.png" alt="logotype" id="logotype"></a>
        <ul class="nav-list">
            <li>
                <a href="../About-Us/index.html"><span>Про нас</span></a>
            </li>
            <li>
                <a href="../Reviews/index.html"><span>Відгуки</span></a>
            </li>
            <li>
                <a href="../Rooms/index.html"><span>Кімнати</span></a>
            </li>
            <li>
                <a href="../Rules/index.html"><span>Правила</span></a>
            </li>
            <li>
                <a href="../Contacts/index.html"><span>Контакти</span></a>
            </li>

        </ul>
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 18L20 18" stroke="#FF4D00" stroke-width="2" stroke-linecap="round"></path> <path d="M4 12L20 12" stroke="#FF4D00" stroke-width="2" stroke-linecap="round"></path> <path d="M4 6L20 6" stroke="#FF4D00" stroke-width="2" stroke-linecap="round"></path> </g></svg>
    </div>
    <div class = "main">
        <div class = "welcome-page">
            <div>
                <img id="poster" :src="'../photos/Poster' + room.id + '.jpg'" alt="poster">
                
            </div>
            

            <div class = "text-container">
                <h1 class = "name">{{room.name}}</h1>
                <p>{{room.short_text}}</p>
                <div class="price">
                    {{room.price}} ₴
                </div>
            </div>
        </div>
        <div class="next-page">
            <div id="parameters">
                <div>
                    <h2>Жанри:</h2>
                    <span class="genre" v-for="item in room.genre">{{item}}</span>
                </div>
                
                <div>
                    <h2>Складність:</h2>
                    <span class="genre"> {{room.dificulty}}</span>
                </div>
                <div>
                    <h2 >Наявність актора:</h2>
                    <span v-if="room.actors==1" class="genre"> так</span>
                    <span v-else class="genre"> ні</span>
                </div>
                <div>
                    <h2 >Кількість гравців:</h2>
                    <span class="genre"> {{room.count[0]}} - {{room.count[1]}}</span>
                </div>
            </div>
        </div>
        
    </div>
    <footer>
        <p>Всі права захищені ©2024</p>
    </footer>
</body>
</html>